// doctype html
// html
//   head
//     title= title
//     link(rel='stylesheet', href='/stylesheets/style.css')
//   body
//     block content

!!!
html(ng-app="coursesSearchApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Courses Search App
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
    